<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
		<add name="BookStoreDb"
     connectionString="Server=(localdb)\MSSQLLocalDB;
                       Integrated Security=True;
                       AttachDbFilename=|DataDirectory|\Data\BookStore.mdf;"
     providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>